body {
    margin: 0;
    text-align:center;

}
h1 {
    margin-top: 0;
    font-family: 'Marck Script', cursive;

}
h2 {
    font-family: 'Alkatra', cursive;
}

h3 {
    font-family:'Montserrat', cursive;
}

p {
    font-family: 'Tillana', sans-serif;

}
.top-container {
    background-color: #E5FDD1;
    position: relative;
    padding-top: 100px;


}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}


.bottom-cloud {
    position: absolute;
    left: 350px;
    top: 200px;
}










/*
.middle-container {
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.bottom-container {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.last {
height: 100px;
    width: 100px;
    background-color: red;
}
*/

