
h1 {
color: red;
}

/*
img {
    background-color:red;
}
*/
/****************************************CLASS*********************/
.leafy-green {
    background-color: yellow;
}

.bacon {
    background-color: red;
}


